{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block headline %}
    {{ pageHeadline }}
{% endblock %}

{% block body %}

    {{ form(form) }}

    <a href="{{ path('app_event_index') }}" class="btn btn-secondary">Zurück</a>



{#    <div class="container">#}
{#        <h2>{{ pageHeadline }}</h2>#}

{#        <p><strong>Name:</strong> {{ event.getName() }}</p>#}
{#        <p><strong>Beschreibung:</strong> {{ event.getDescription() }}</p>#}
{#        <p><strong>Gebuchte Plätze:</strong> {{ event.getBookedSeats() }}</p>#}

{#        <a href="{{ path('app_event_show', { id: event.getId() }) }}" class="btn btn-secondary">Zurück</a>#}
{#    </div>#}

{% endblock %}

