{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block headline %}
    {{ pageHeadline }}
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_event_new') }}" class="btn btn btn-info">Neues Event</a>
    </div>
    <div class="container">
        <h2>Event Übersicht</h2>
        <ul class="list-group">
            {% for event in events %}
                <li class="list-group-item">
                    <strong>{{ event.name }}</strong>
                    <div>
                    <a href="{{ path('app_event_show', { id: event.id }) }}" class="btn btn-sm btn-info">Details</a>
                    </div>
                </li>
            {% else %}
                <li class="list-group-item">Keine Events verfügbar.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
