{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block headline %}
    {{ pageHeadline }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ event.getName() }}</h2>
        <p>{{ event.getDescription() }}</p>
        <p>Verfügbare Plätze: {{ event.seats() }}</p>
        <a href="{{ path('app_event_edit', { id: event.getId() }) }}" class="btn btn-warning">Bearbeiten</a>
        <a href="{{ path('app_event_delete', { id: event.getId() }) }}" class="btn btn-danger">Löschen</a>
        <a href="{{ path('app_event_index') }}" class="btn btn-secondary">Zurück</a>
    </div>
{% endblock %}

