{% extends 'base.html.twig' %}

{% block body %}
    {% for x in events %}
        {% if x.seats == 0 %}
            <div>{{ x.name }} Party ist Ausverkauft</div>
        {% elseif x.seats <= 10 %}
            <div>{{ x.name }} Party sind nur noch {{ x.seats }} freie Plätze.</div>
        {% else %}
            <div>{{ x.name }} Party sind nur noch {{ x.seats }} freie Plätze.</div>
        {% endif %}
        <a href="{{ path('app_main_show', {id: x.id}) }}">Klick mich!</a>
    {% endfor %}
{% endblock %}
